@font-face {
  font-family: "GeomanistBlack";
  src: url(/Assets/geomanist.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IntroLight";
  src: url(/Assets/introlight.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
} 

h2 {
  font-family: 'GeomanistBlack'; 
}

form, input, option{
 font-family: 'IntroLight'; 
}

body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


input, select {
    background-color: white;
    border: 2px solid #8CBF35;
}

.container {
  width: 80%; 
  max-width: 10000px;
  margin: auto;
  background-color: white;
  border: 2px solid #8CBF35;
  padding: 30px;
}

.full-width {
  width: calc(100% - 10px); 
  margin-bottom: 15px; 
}

.green-border {
  border: 2px solid #8CBF35; 
}

.green-bg {
  background-color: #8CBF35; 
  color: white;
  border: none; 
  padding: 10px; 
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .sized{font-size:13px}
