@font-face {
    font-family: 'GeomanistBlack';
    src: url('Assets\Fonts\Geomanist-Black#2.otf') format('otf'), 
         url('Assets\Fonts\INTRO LIGHT.otf') format('otf'); 

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IntroLight';
    src: url('Assets\Fonts\INTRO LIGHT.otf') format('otf'); 

    font-weight: normal;
    font-style: normal;
}


body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{

}
input, select {
    background-color: white;
    border: 2px solid #aaffaa;
}

.container {
  width: 80%; 
  max-width: 10000px;
  margin: auto;
  background-color: white;
  border: 2px solid #aaffaa;
  border-radius: 15px; 
  padding: 30px;
}

.full-width {
  width: calc(100% - 10px); 
  margin-bottom: 15px; 
}

.green-border {
  border: 2px solid #aaffaa; 
}

.green-bg {
  background-color: #aaffaa; 
  color: white;
  border: none; 
  padding: 10px; 
}
